 
{% extends 'navbar.html' %}

{% block title %}
Inputs
{% endblock title %}

{% block content %}   
    <div class="form-group">
      <h1>Nuestra variedad de cierres de cortina de PVC terraza:</h1>

      <div class="media">
        <img class="mr-3" src="..." alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">Cierre cortina de PVC terraza 2 x 2.5 m</h5>
          <label for="exampleFormControlSelect1">Escoger color</label>
          <select class="form-control" id="exampleSelect" name="input Select">
            <option value="1">Blanco</option>
            <option value="2">Café</option>
            <option value="3">Negro </option>
          </select>
          <div class="form-group">
            <a href="..." class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="media">
        <img class="mr-3" src="..." alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">Cierre Cortina de PVC Terraza 1 x 2.5 m</h5>
          <label for="exampleFormControlSelect1">Escoger color</label>
          <select class="form-control" id="exampleSelect" name="input Select">
            <option value="1">Blanco</option>
            <option value="2">Café</option>
            <option value="3">Negro </option>
          </select>
          <div class="form-group">
            <a href="..." class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="media">
        <img class="mr-3" src="..." alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">Cierre cortina de PVC terraza 1.5 x 2.5 m</h5>
          <label for="exampleFormControlSelect1">Escoger color</label>
          <select class="form-control" id="exampleSelect" name="input Select">
            <option value="1">Blanco</option>
            <option value="2">Café</option>
            <option value="3">Negro </option>
          </select>
          <div class="form-group">
            <a href="..." class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>


{% endblock content %}
