
{% extends 'navbar.html' %}

{% block title %}
Creación de cuenta 
{% endblock title %}

{% block content %}

<div id="descripcion" class="container">
    <h1>Crea tu cuenta</h1>

    <form action="/verificacioncrearusuario" method="POST" autocomplete="off"> {% csrf_token %}

    <div class="form-group">
      <label for="exampleInputEmail1">Nombre </label>
      <input type="text" class="form-control" id="exampleText" placeholder="Ingrese nombre" name="inputNombrecompleto">
    </div>

    <div class="form-group">
      <label for="exampleNumber">Edad</label>
      <input type="number" class="form-control" id="exampleNumber" placeholder="Ingrese edad" name="inputNumber">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Correo electrónico</label>
      <input type="email" class="form-control" id="exampleEmail" placeholder="Ingrese su email" name="inputEmail">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Nombre de usuario </label>
      <input type="text" class="form-control" id="exampleText" placeholder="Ingrese nombre de usuario" name="inputText">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="examplePassword" placeholder="ingrese contraseña" name="inputPassword">
    </div>


    <br>


    <div class="form-group">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  
  </form>
       
</div>

{% endblock content %}
