
{% extends 'navbar.html' %}

{% block title %}
Inicio de sesión
{% endblock title %}

{% block content %}

<div id="descripcion" class="container">
    <h1>Inicie sesión </h1>

    <form action="/mostrar_inicio" method="POST" autocomplete="off">

    <div class="form-group">
      <label for="exampleInputEmail1">Nombre de usuario</label>
      <input type="text" class="form-control" id="exampleText" placeholder="Ingrese su nombre de usuario" name="inputNombre1">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="examplePassword" placeholder="ingrese se contraseña" name="inputPassword">
    </div>


    <br>


    <div class="form-group">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  
  </form>
       
</div>

{% endblock content %}
