
{% extends 'navbar.html' %}

{% block title %}
Resumen de pedido
{% endblock title %}
Resumen de su pedido
{% block content %}

<div>
		<table>
			<tr>
				<td>Nombre del cliente:</td>
				<td>{{Nombre}}</td>
			</tr>
			<tr>
				<td>Correo electrónico del cliente: </td>
				<td>{{Correo}}</td>
			</tr>
			<tr>
				<td>Región del cliente: </td>
				<td>{{Región}}</td>
			</tr>
			<tr>
				<td>Ciudad del cliente: </td>
				<td>{{Ciudad}}</td>
			</tr>
			<tr>
				<td>Fecha tentativa de entrega: </td>
				<td>{{Fecha}}</td>
			</tr>
			<tr>
				<td>Esfecificación de pedido:</td>
				<td>{{Pedido}}</td>
			</tr>
			<tr>
				<td>Preferencia de recibo del producto:</td>
				<td>{{Retiro}}</td>
			</tr>
		</table>
	</div>

{% endblock content %}
